#zoom-stage {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999;

  .zoom-btn-left,
  .zoom-btn-right {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: aliceblue;
    border: 1px solid lightgrey;
    transition: all 0.2s ease-in-out;
  }

  .zoom-btn-left:hover,
  .zoom-btn-right:hover {
    background-color: darkkhaki;
    border: 1px solid darkkhaki;
  }

  .zoom-btn-left {
    padding-left: 22px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }

  .zoom-btn-right {
    padding-left: 18px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .zoom-btn-left-icon,
  .zoom-btn-right-icon {
    font-size: 18px;
    width: 60px;
    height: 30px;
  }
}
