#sidebar-right {
  position: absolute;
  right: 0;
  padding: 16px;
  border: 4px solid rgb(164, 164, 182);
  border-right: none;
  margin-top: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 320px;
  height: calc(100vh - 40px);
  overflow: auto;
  background-color: aliceblue;
  transition: all 0.3s ease;
}

.close-sidebar-right {
  right: -400px !important;
}

#work-select-section .opacity-works {
  opacity: 0.4 !important;
}

#work-corner-select-section .ant-col a.button-square {
  transition: all 0.1s ease-in-out;
}

#work-corner-select-section .ant-col a.button-square:hover {
  background-color: #edf3f9;
  border: 4px solid #e4ecf0;
}

#work-corner-select-section .ant-col a.active,
#work-corner-select-section .ant-col a.button-square:active,
#work-corner-select-section .ant-col a.button-square:focus {
  background-color: #edf3f9;
  border: 4px solid #7eb8db;
}

#work-corner-select-section .ant-col figure.button-square {
  max-width: 64px;
  position: relative;
}
