* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
  width: 100vw;
}

#header {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 2em; */
  padding: 16px 0;
}

#simple-data {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 12px;
}

h1 {
  margin-bottom: 8px;
}

h2 {
  margin: 0 2em 8px 0;
  font-family: sans-serif;
}

.h-first-sec {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
}

.h-first-sec a {
  width: 36px;
  height: 36px;
  border: 3px solid lightgrey;
  transition: border-color 0.24s ease;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: border-color 0.25s ease;
  font-family: sans-serif;
}

.h-first-sec a:hover {
  border-color: #e58787;
}

.h-first-sec a img {
  height: 36px;
}

.title-sec {
  font-weight: 400;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 1.2em;
  margin-right: 2em;
}

.btn-save {
  width: 32px;
}

.btn-save img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.data-sec {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.data-sec a {
  width: 70px;
  height: 70px;
  border: 3px solid lightgrey;
  transition: border-color 0.24s ease;
}

.data-sec a:hover {
  border-color: #626285;
}

.data-sec a img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-field input {
  width: 50px;
  height: 30px;
  border-radius: 6px;
  padding: 0 8px;
  border: 2px solid darkslategrey;
  background: transparent;
  color: darkslategrey;
  outline: none;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 12px;
}

.btns .button_slide {
  color: #fff;
  background-color: #162944;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 16px 24px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btns .button_slide img {
  margin-right: 4px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.btns .slide_right:hover {
  box-shadow: inset 400px 0 0 0 #d80286;
}